<section>
	<div class="inner-box" style="overflow:auto">
		<h1>Welcome to dashboard for JobSeeker</h1>
		
		<div class="col-md-12">
		<div class="col-md-10 no-left-padding">
		<div class="header-div blue-div">
			<span>Program Manager</span>
			<span style="float:right">Banking and Financial</span>
		</div>
		</div>
		<div class="col-md-2">
		</div>
		</div>
		
		<div class="col-md-12">
		<label style="float:left">Big Data, SDLC, Non-SDLC, Program SDLC    ++</label>
		</div>
		
		<div>
		<div class="col-md-12">
		<div class="col-md-3">
		<label class="title-style">Expected Salary</label>
		</div>
		<div class="col-md-9">
		<label style="float:left">500/day</label>
		</div>
		</div>
		
		<div class="col-md-12">
		<div class="col-md-3">
		<label class="title-style">Expected Hike</label>
		</div>
		<div class="col-md-9">
		<label style="float:left">32%</label>
		</div>
		</div>
		</div>
		
		

		<div class="col-md-12">
		<div class="small-div">Premium  Recruiter
		</div>
		<div class="col-md-10 no-left-padding">
		<div class="header-div green-div">
			<span>Bob McDermott</span>
			<span style="float:right">Banking and Financial</span>
		</div>
		</div>
		<div class="col-md-2">
		</div>
		</div>
		
		<div class="col-md-12">
		<label style="float:left">Big Data, SDLC, Non-SDLC, Program SDLC    ++</label>
		</div>
		
		<div>
		<div class="col-md-12">
		<div class="col-md-3">
		<label class="title-style">Expected Salary</label>
		</div>
		<div class="col-md-9">
		<label style="float:left">900/day</label>
		</div>
		</div>
		
		<div class="col-md-12">
		<div class="col-md-3">
		<label class="title-style">Expected Hike</label>
		</div>
		<div class="col-md-9">
		<label style="float:left">45%</label>
		</div>
		</div>
		</div>
		
		
		
		
		<div class="col-md-12">
		<div class="col-md-10 no-left-padding">
		<div class="header-div blue-div">
			<span>Software Engineer</span>
			<span style="float:right">Pharmacutical Industry</span>
		</div>
		</div>
		<div class="col-md-2">
		</div>
		</div>
		
		<div class="col-md-12">
		<label style="float:left">Big Data, SDLC, Non-SDLC, Program SDLC    ++</label>
		</div>
		
		<div>
		<div class="col-md-12">
		<div class="col-md-3">
		<label class="title-style">Expected Salary</label>
		</div>
		<div class="col-md-9">
		<label style="float:left">500/day</label>
		</div>
		</div>
		
		<div class="col-md-12">
		<div class="col-md-3">
		<label class="title-style">Expected Hike</label>
		</div>
		<div class="col-md-9">
		<label style="float:left">32%</label>
		</div>
		</div>
		</div>
		
		
		<div class="col-md-12">
		<div class="small-div">Premium  Recruiter
		</div>
		<div class="col-md-10 no-left-padding">
		<div class="header-div green-div">
			<span>Mitch Kinkin </span>
			<span style="float:right">Automation Industry</span>
		</div>
		</div>
		<div class="col-md-2">
		</div>
		</div>
		
		<div class="col-md-12">
		<label style="float:left">Big Data, SDLC, Non-SDLC, Program SDLC    ++</label>
		</div>
		
		<div>
		<div class="col-md-12">
		<div class="col-md-3">
		<label class="title-style">Expected Salary</label>
		</div>
		<div class="col-md-9">
		<label style="float:left">900/day</label>
		</div>
		</div>
		
		<div class="col-md-12">
		<div class="col-md-3">
		<label class="title-style">Expected Hike</label>
		</div>
		<div class="col-md-9">
		<label style="float:left">45%</label>
		</div>
		</div>
		</div>
		
		
	</div>
 <!--End Inner-box-->   
     <!-- <div class="text-center"><button class="btn btn-black" type="button">Next</button></div> -->
</section>

<style>
.header-div {
	color: #fff;
    font-size: 20px;
    padding: 5px;
    text-align: left;
	
}
.blue-div {
	margin-top: 40px;
	background: #84A1C7 none repeat scroll 0 0;
}
.title-style {
	float: left;
    color: #cc0000;
}
.no-left-padding {
	padding-left: 0px;
}
.green-div {
	
	background: #84C793 none repeat scroll 0 0;
}
.small-div {
	margin-top: 40px;
	background: #5B5BA9;
    height: 35px;
    width: 150px;
    line-height: 2.5;
    color: white;
}

</style>