<section ng-controller="JobSeekerSearchController">
	<div class="inner-box" style="overflow:auto">
		<h1>Find great recruiter or Job in few seconds</h1>
		
		<div class="col-md-12" style="margin-bottom: 2%;">
			<div class="col-md-4">
				<label>Expected Compensation</label>
			</div>
			
			<div class="col-md-8">
				<div class='slider-example'>   <div class="well"><input id="compensation" type="text"/></div></div>
			</div>
			
		</div>
		
		<div class="col-md-12" style="margin-bottom: 2%;">
			<div class="col-md-4">
				<label>Skills I am looking</label>
			</div>
			
			<div class="col-md-8">
					<input type="text" name="input" class="input-style">
			</div>
			
		</div>
		
		<div class="col-md-12" style="margin-bottom: 2%;">
			<div class="col-md-4">
				<label>Roles I am looking</label>
			</div>
			
			<div class="col-md-8">
				<input type="text" name="input" class="input-style">
			</div>
			
		</div>

		<div class="col-md-12" style="margin-bottom: 2%;">
			<div class="col-md-4">
				<label>Industry</label>
			</div>
			
			<div class="col-md-8">
					<input type="text" name="input" class="input-style-s">
			</div>
			
		</div>
		
		<div class="col-md-12" style="margin-bottom: 2%;">
			<div class="col-md-4">
				<label>Location</label>
			</div>
			
			<div class="col-md-8">
				<input type="text" name="input" class="input-style-s">
			</div>
			
		</div>
		
		<div class="text-center"><button class="btn btn-black" type="button" data-ng-click="">Submit</button></div>
		
		
		
		
		
	</div>
 <!--End Inner-box-->   
     <!-- <div class="text-center"><button class="btn btn-black" type="button">Next</button></div> -->
</section>

<style>
.input-style {
	width: 90%;
    height: 35px;
}

.input-style-s {
	width: 30%;
    height: 35px;
    float:left;
    margin-left: 5%;
}
</style>