<section ng-controller="JobSeekerStep4Controller">
<div class="inner-box">
	
	  <h1>I have {{jobseeker.experience}} year experience</h1>

		<div class='slider-example'>   <div class="well"><input id="jobexp" type="text"/></div></div>
     
     

	</div>
 <!--End Inner-box-->   
     <!-- <div class="text-center"><button class="btn btn-black" type="button" data-ng-click="goToComplete()">{{submitting?'Submitting..':'Submit'}}</button></div> -->
     <div class="text-center"><button class="btn btn-black" type="button" data-ng-click="goToStep5()">Next</button></div>
</section>